body{
    font-family: 'DM Serif Display', serif; 
}


/* nav */

.nav-link.disabled, .nav-link:disabled {
    color: black !important;
}
#home .btn{
    border: none; 
    padding: 15px 25px 15px 25px;
    border-radius: 18px;
}
#home .btn-primary {
    background-color:#292F36;
    color: white;
}


/* home section */


#home .home-unique{
    top: 0px;
    bottom: 50px;
    transform: translate(50%, 50%);
    font-family: 'DM Serif Display', serif;
}

/* living */

@media screen and (max-width:569px) {
    #home .home-unique{
        top: 0px;
        bottom: 50px;
        transform: translate(20% , 20%);
        font-family: 'DM Serif Display', serif;
    }
    
}

/* about us */

#about-us{
    background-color:#F4F0EC;
}
#about-us .card{
    border: none;
}

#about-us .card-body{
    padding: 0px;
}