body{
    font-family: 'DM Serif Display', serif; 
}

#home .btn{
    border: none; 
    padding: 15px 25px 15px 25px;
    border-radius: 18px;
}
#home .btn-primary {
    background-color:#292F36;
    color: white;
}

/* nav */

.nav-link.disabled, .nav-link:disabled {
    color: black !important;
}


/* home section */


#home .home-unique{
    top: 150px;
    left: 50px;
    font-family: 'DM Serif Display', serif;
}

/* living */

@media screen and (max-width:575px) {
    #home .home-unique{
        top: 0px;
        bottom: 0px;
        transform: translate(10% , 10%);
        font-family: 'DM Serif Display', serif;
    }
    
}

/* about us */

#about-us .bg-color{
    background-color:#F4F0EC;
}
#about-us .card{
    border: none;
}

#about-us .card-body{
    padding: 0px;
}

/* our projects */

#our-project .angle-right{
    background-color: #F4F0EC;
    height: 70px;
    width: 70px;
    border-radius: 50%;

}
#our-project .angle{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* count down */
#count-down{
    background: #F4F0EC;
}
#count-down p{
    color: #4D5053;
}

#count-down .count-color{
    color: #CDA274;

}

/* Articles & News */
#articles .card-img-top{
    position: relative;
}

#articles .design{
    position: absolute;
    background-color: white;
    border-radius: 10px 10px 10px 0px;
    padding: 10px;
    bottom: 50px;
    transform: translate(16px, -100px);
}


#articles .card .angle-right{
    background-color:#F4F0EC;
    height: 50px;
    width: 50px;
    border-radius: 50%;

}
#articles .card .angle{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* footer */

#company-details ul li{
    list-style: none;
    color:#4D5053;
}
#company-details ul{
    padding-left: 0;
}