body{
    font-family: 'DM Serif Display', serif; 
}


/* nav */

.nav-link.disabled, .nav-link:disabled {
    color: black !important;
}
#home .btn{
    border: none; 
    padding: 15px 25px 15px 25px;
    border-radius: 18px;
}
#home .btn-primary {
    background-color:#292F36;
    color: white;
}


/* home section */


#home .home-unique{
    top: 0px;
    bottom: 50px;
    transform: translate(50%, 50%);
    font-family: 'DM Serif Display', serif;
}

/* living */

@media screen and (max-width:575px) {
    #home .home-unique{
        top: 0px;
        bottom: 0px;
        transform: translate(10% , 10%);
        font-family: 'DM Serif Display', serif;
    }
    
}

/* about us */

#about-us .bg-color{
    background-color:#F4F0EC;
}
#about-us .card{
    border: none;
}

#about-us .card-body{
    padding: 0px;
}

/* our projects */

#our-project .angle-right{
    background-color: #F4F0EC;
    height: 70px;
    width: 70px;
    border-radius: 50%;

}
#our-project .angle{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.middle-border {
    padding-left: 20px; /* Add padding to center the content */
  }
  