@import "./utility/text";

#about-us{
    p{
        color: #4D5053;
    }
    .call{
        span{
            letter-spacing: 1px;
            color: #4D5053;
        }
    }
    button{
        i{
            color: #CDA274;
        }
    }
}