#articles{
    .card{
        border: 1px solid #E7E7E7;
        box-shadow: 0px 10px 30px 0px #FFFFFF40;
        .kitchen{
            background-color: white;
            bottom: 20px;
            left: 25px;
            padding: 10px;
            border-radius: 8px 8px 8px 0;
            p{
                color: #4D5053;
            }
        }
        .card-text{
            color: #4D5053;
        }
    }
}