.banner{
  background-image: url(../images/banner.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 30px;
  padding: 208px 0 208px 52px;
}

@media screen and (max-width: 575px) {
  .banner{
    padding: 208px 40px 208px 40px;
  }
}