@import "./utility/color";
  .banner{
      background-image: url(../images/banner.png);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      border-radius: 30px;
      padding: 208px 0 208px 52px;
    p{
      color: $primary4;
    }
    a{
      box-shadow: 0px 10px 20px 0px #C0C0C059;
      i{
        color: #CDA274;
      }
    }
   }