#contact{
    .bg-dark{
        padding: 80px 315px;
    }
    .rounded-5{
        border-radius: 70px !important;
        button{
            background-color: #CDA274;
            box-shadow: 0px 10px 20px 0px #1F2022;

        }
    }
}