#count-down{
    .bg-color{
        background: #F4F0EC;
        padding: 151px 130px;
        h1{
            color: $primary1;
            font-size: 85px;
            font-weight: 400;
        }
        p{
            font-size: $heading4;
            font-weight: 400;
        }
    }
}