@import "./utility/color";
#home{
  .home-img{
    .home-unique{
      background-image: url(../images/banner.png);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      border-radius: 30px;
      padding: 208px 0 208px 52px;
      }
    h1{
      margin-bottom: 18px;
      line-height: 81.25px;
      color: $primary2;
    }
    p{
      margin-bottom: 21px;
    }
    button{
      i{
        color: #CDA274;
      }

    }
   }
}