#home{
   .home-img{
    background-image: url(../images/banner.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 208px 0 208px 52px;
   }
}