@import "./utility/text";

#living-style{
    p{
        font-size: $heading4;
        line-height: 33px;
        color: #4D5053;
    }
    .call{
        span{
            font-size: 24px;
            line-height: 36px;
            font-weight: 700;
            letter-spacing: 1px;
        }
    }
    button{
        i{
            color: #CDA274;
        }
    }
}