
#our-project{
    p{
        font-size: $heading4;
        font-weight: 400;
        line-height: 33px;
        color: #4D5053;
    }
    h5{
        font-size: $heading3;
        font-weight: 400;
        line-height: 31px;
        color: $primary2;
    }
}