body{
    font-size: 22px;
}
%heading{
    text-transform: capitalize;
  }
section{
    margin-bottom: 200px;
    .our-brand img{
        width: 100px;
    }
@media screen and (max-width: 575px) {
    .btn-lg{
        padding: 1rem 1rem;
        font-size: 10px;
    }
}
}
