// @import "color";

#testimonial{
    .bg-color{
        background: $bg-Isabelline;
        .card{
            .card-body{
                h5{
                    font-size: $heading3;
                    font-weight: 400;
                    color: $primary2;
                }
                h6{
                    font-size: $heading6;
                    font-weight: 400;
                    color: #4D5053;
                }
            }
            p{
                font-size: $heading4;
                font-weight: 400;
                color: #4D5053;
            }
        }
    }
}