@import "./utility/color";

body{
    font-family: 'Jost', sans-serif;
}
// navbar
.navbar-nav {
    color: $primary2 !important;
}
#home{
    .btn{
        border: none; 
        padding: 15px 25px 15px 25px;
        border-radius: 15px;
        font-weight: 600;
        font-size: 18px;
    }
}